name: CI
on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize]
jobs:
  ci:
    name: Run CI (typecheck, lint, knip, build, test)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci

      - name: Run CI
        run: npm run ci
